@model MyToDo.api.viewModels.RegistrationViewModel

<h1>Registration</h1>

<form asp-action="Registration">
    <div><input type="text" asp-for="@Model.Name" placeholder="Iveskite prisijungimo varda" /></div>

    <span asp-validation-for="@Model.Name"></span>

    <div><input type="password" asp-for="@Model.Password" placeholder="Jusu slaptazodis" /></div>

    <span asp-validation-for="@Model.Password"></span>

    <div><input type="password" asp-for="@Model.ConfirmPassword" placeholder="Jusu slaptazodis" /></div>

    <span asp-validation-for="@Model.ConfirmPassword"></span>

    <div><input type="email" asp-for="@Model.Email" placeholder="email adressas" /></div>

    <span asp-validation-for="@Model.Email"></span>

    <button>Continue</button>
</form>
